.boton-matriz {
    height: 50px;
    width: 50px;
    font-size: 1rem;
}

#boton00, #boton01, #boton02, #boton03, #boton04, #boton05,
#boton10, #boton20, #boton30, #boton40, #boton50 {
    background-color: aquamarine;
    border-color: bisque;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-dark {
    background-color: #343a40 !important;
    color: white;
}
.d-inline-block {
    min-width: 240px;
}
.vertical-text {
    writing-mode: vertical-rl; /* Escribir verticalmente */
    text-orientation: upright; /* Hacer que las letras estén en posición vertical */
}
